<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EAD-Session-3</display-name>
  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.metacube.servlet.studentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentServlet1</servlet-name>
    <servlet-class>com.metacube.servlet.searchStudentServletByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet1</servlet-name>
    <url-pattern>/searchStudentServletByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentServlet2</servlet-name>
    <servlet-class>com.metacube.servlet.searchStudentByClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet2</servlet-name>
    <url-pattern>/SearchStudentByClass</url-pattern>
  </servlet-mapping>
</web-app>