body { 
    margin: 0;
    background-image: url("images/bodybg.png");

}

#header-content {
    margin-bottom: -20px;
    background-color: #648cff;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
a {
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#home {
    background-image: url("images/homebg.png");
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    height: 1000px;
    background-repeat : no-repeat; 
}

#x {
    font-size: 55px;
    margin-bottom: -40px;
    color: white;
}

#y {
    font-size: 55px;
    color: white;
}

#home-content {
    display: flex;
    flex-direction: column;
}
#download {
    background-color : #F76A45;
    
}

#features {
    background-color: #4563C5;
}

#perfect {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #6388FB;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#perfect-sub {
    padding-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #98A6C3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.small-text {
    width: 100%;
    font-size: 15px;
    color: #98A6C3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 120px;
}

.features {
    padding-left: 10px;
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
 
}

.features-content {
    
    padding-left: 10px;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feature-inside {
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    justify-content: safe;
}

#image {
    margin-left: 300px;
    padding: 75px;
}

#cloudy {
    display: flex;

}

#cloudy-image {
    padding-top: 100px;
    padding-left: 300px;
}
#cloudy-inner {
    padding-top: 200px;
    padding-left: 80px;
}
#cloudy .small-text {
    padding-top: 10px;
    display: block;
    margin-left: -100px;
    width: 300px;
}
#cloudy .features-content {
    padding-top: 20px;
    font-weight: bold;
}

#sunny {
    display: flex;
}

#sunny-inner {
    padding-top: 200px;
    padding-left: 300px;
}

#sunny .small-text {
    padding-top: 10px;
    display: block;
    margin-left: -100px;
    width: 400px;
}

#sunny .features-content {
    padding-top: 15px;
    font-weight: bold;
}

#sunny-image {
    padding-top: 100px;
    padding-left: 200px;
}

#rainy {
    display: flex;

}

#rainy-image {
    padding-top: 100px;
    padding-left: 300px;
}
#rainy-inner {
    padding-top: 200px;
    padding-left: 80px;
}
#rainy .small-text {
    padding-top: 10px;
    display: block;
    margin-left: -100px;
    width: 300px;
}
#rainy .features-content {
    padding-top: 20px;
    font-weight: bold;
}
